build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
*.egg-info
.installed.cfg
*.egg
MANIFEST

.idea/
src/_libcov.c
local/
__pycache__/